{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint",
        "unused-imports",
        "simple-import-sort"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "prettier"
    ],
    "rules": {
        "@typescript-eslint/no-namespace": "off",
        "curly": [
            "error",
            "multi-line"
        ],
        "@typescript-eslint/no-unused-vars": [
            "error",
            {
                "varsIgnorePattern": "_.*"
            }
        ],
        "simple-import-sort/imports": "warn",
        "@typescript-eslint/consistent-type-imports": "error",
        "unused-imports/no-unused-imports-ts": "warn"
    }
}
